-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: advisora
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookings` (
  `idBk` int(11) NOT NULL AUTO_INCREMENT,
  `bookingDate` datetime NOT NULL DEFAULT current_timestamp(),
  `numTicketBk` int(11) NOT NULL DEFAULT 1,
  `totalPrixBk` double NOT NULL DEFAULT 0,
  `idEv` int(11) NOT NULL,
  `idUser` int(11) NOT NULL,
  PRIMARY KEY (`idBk`),
  KEY `fk_bookings_event` (`idEv`),
  KEY `fk_bookings_user` (`idUser`),
  CONSTRAINT `fk_bookings_event` FOREIGN KEY (`idEv`) REFERENCES `events` (`idEv`) ON DELETE CASCADE,
  CONSTRAINT `fk_bookings_user` FOREIGN KEY (`idUser`) REFERENCES `user` (`idUser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
INSERT INTO `bookings` VALUES (1,'2026-02-11 17:27:28',2,40,1,3),(2,'2026-02-11 17:27:28',1,20,2,4);
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cataloguefournisseur`
--

DROP TABLE IF EXISTS `cataloguefournisseur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cataloguefournisseur` (
  `idFr` int(11) NOT NULL AUTO_INCREMENT,
  `nomFr` varchar(160) NOT NULL,
  `quantite` int(11) NOT NULL DEFAULT 0,
  `fournisseur` varchar(160) DEFAULT NULL,
  `emailFr` varchar(190) DEFAULT NULL,
  `localisationFr` varchar(190) DEFAULT NULL,
  `numTelFr` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`idFr`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cataloguefournisseur`
--

LOCK TABLES `cataloguefournisseur` WRITE;
/*!40000 ALTER TABLE `cataloguefournisseur` DISABLE KEYS */;
INSERT INTO `cataloguefournisseur` VALUES (1,'Catalogue Alpha',0,'Alpha Supplies','alpha@supplies.tn','Tunis','70000000'),(2,'Catalogue Beta',0,'Beta Supplies','beta@supplies.tn','Ariana','71111111'),(3,'safia',12,'safia','safia@safia','tunis','92130230'),(5,'chedi',5,'montre','chedi','tunis','20202020');
/*!40000 ALTER TABLE `cataloguefournisseur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `decisions`
--

DROP TABLE IF EXISTS `decisions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `decisions` (
  `idD` int(11) NOT NULL AUTO_INCREMENT,
  `StatutD` enum('pending','active','refused') NOT NULL DEFAULT 'pending',
  `descriptionD` text DEFAULT NULL,
  `dateDecision` date NOT NULL DEFAULT curdate(),
  `idProj` int(11) NOT NULL,
  `idUser` int(11) NOT NULL,
  PRIMARY KEY (`idD`),
  KEY `fk_decisions_project` (`idProj`),
  KEY `fk_decisions_user` (`idUser`),
  CONSTRAINT `fk_decisions_project` FOREIGN KEY (`idProj`) REFERENCES `projects` (`idProj`) ON DELETE CASCADE,
  CONSTRAINT `fk_decisions_user` FOREIGN KEY (`idUser`) REFERENCES `user` (`idUser`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `decisions`
--

LOCK TABLES `decisions` WRITE;
/*!40000 ALTER TABLE `decisions` DISABLE KEYS */;
/*!40000 ALTER TABLE `decisions` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_decision_insert_update_project

AFTER INSERT ON Decisions

FOR EACH ROW

BEGIN

  IF NEW.StatutD = 'active' THEN

    UPDATE Projects

      SET stateProj = 'ACCEPTED',

          updatedAtProj = CURRENT_TIMESTAMP

    WHERE idProj = NEW.idProj;

  ELSEIF NEW.StatutD = 'refused' THEN

    UPDATE Projects

      SET stateProj = 'REFUSED',

          updatedAtProj = CURRENT_TIMESTAMP

    WHERE idProj = NEW.idProj;

  ELSE

    -- pending: keep project as PENDING (or unchanged)

    UPDATE Projects

      SET stateProj = 'PENDING',

          updatedAtProj = CURRENT_TIMESTAMP

    WHERE idProj = NEW.idProj AND stateProj = 'PENDING';

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_decision_update_update_project

AFTER UPDATE ON Decisions

FOR EACH ROW

BEGIN

  IF NEW.StatutD = 'active' THEN

    UPDATE Projects

      SET stateProj = 'ACCEPTED',

          updatedAtProj = CURRENT_TIMESTAMP

    WHERE idProj = NEW.idProj;

  ELSEIF NEW.StatutD = 'refused' THEN

    UPDATE Projects

      SET stateProj = 'REFUSED',

          updatedAtProj = CURRENT_TIMESTAMP

    WHERE idProj = NEW.idProj;

  END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `events`
--

DROP TABLE IF EXISTS `events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `events` (
  `idEv` int(11) NOT NULL AUTO_INCREMENT,
  `titleEv` varchar(160) NOT NULL,
  `descriptionEv` text DEFAULT NULL,
  `startDateEv` datetime NOT NULL,
  `endDateEv` datetime NOT NULL,
  `organisateurName` varchar(160) DEFAULT NULL,
  `capaciteEvnt` int(11) NOT NULL DEFAULT 0,
  `localisationEv` varchar(190) DEFAULT NULL,
  `idGerant` int(11) DEFAULT NULL,
  PRIMARY KEY (`idEv`),
  KEY `fk_events_gerant` (`idGerant`),
  CONSTRAINT `fk_events_gerant` FOREIGN KEY (`idGerant`) REFERENCES `user` (`idUser`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events`
--

LOCK TABLES `events` WRITE;
/*!40000 ALTER TABLE `events` DISABLE KEYS */;
INSERT INTO `events` VALUES (1,'Startup Pitch Day','Pitch your project to investors','2026-03-10 09:00:00','2026-03-10 14:00:00','Advisora Team',100,'Tunis',2),(2,'Tech Workshop','Workshop on JavaFX & JDBC','2026-03-15 10:00:00','2026-03-15 13:00:00','Advisora Team',50,'Ariana',2);
/*!40000 ALTER TABLE `events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investments`
--

DROP TABLE IF EXISTS `investments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investments` (
  `idInv` int(11) NOT NULL AUTO_INCREMENT,
  `commentaireInv` varchar(255) DEFAULT NULL,
  `dureeInv` time DEFAULT NULL,
  `bud_minInv` double NOT NULL DEFAULT 0,
  `bud_maxInv` double NOT NULL DEFAULT 0,
  `CurrencyInv` varchar(10) NOT NULL DEFAULT 'TND',
  `idProj` int(11) NOT NULL,
  `idUser` int(11) NOT NULL,
  PRIMARY KEY (`idInv`),
  KEY `fk_investments_project` (`idProj`),
  KEY `fk_investments_user` (`idUser`),
  CONSTRAINT `fk_investments_project` FOREIGN KEY (`idProj`) REFERENCES `projects` (`idProj`) ON DELETE CASCADE,
  CONSTRAINT `fk_investments_user` FOREIGN KEY (`idUser`) REFERENCES `user` (`idUser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investments`
--

LOCK TABLES `investments` WRITE;
/*!40000 ALTER TABLE `investments` DISABLE KEYS */;
INSERT INTO `investments` VALUES (1,'Invest in accepted project','00:30:00',500,2000,'TND',1,4);
/*!40000 ALTER TABLE `investments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `objectives`
--

DROP TABLE IF EXISTS `objectives`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `objectives` (
  `idOb` int(11) NOT NULL AUTO_INCREMENT,
  `descriptionOb` varchar(255) NOT NULL,
  `priorityOb` int(11) NOT NULL DEFAULT 0,
  `ids` int(11) NOT NULL,
  PRIMARY KEY (`idOb`),
  KEY `fk_objectives_strategy` (`ids`),
  CONSTRAINT `fk_objectives_strategy` FOREIGN KEY (`ids`) REFERENCES `strategies` (`ids`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `objectives`
--

LOCK TABLES `objectives` WRITE;
/*!40000 ALTER TABLE `objectives` DISABLE KEYS */;
INSERT INTO `objectives` VALUES (1,'Define MVP scope',1,1),(2,'Prepare UI/UX wireframes',2,1),(3,'Set database schema & DAO layer',3,1);
/*!40000 ALTER TABLE `objectives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_resources`
--

DROP TABLE IF EXISTS `project_resources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_resources` (
  `idProj` int(11) NOT NULL,
  `idRs` int(11) NOT NULL,
  `qtyAllocated` int(11) NOT NULL DEFAULT 1,
  PRIMARY KEY (`idProj`,`idRs`),
  KEY `fk_prjres_resource` (`idRs`),
  CONSTRAINT `fk_prjres_project` FOREIGN KEY (`idProj`) REFERENCES `projects` (`idProj`) ON DELETE CASCADE,
  CONSTRAINT `fk_prjres_resource` FOREIGN KEY (`idRs`) REFERENCES `resources` (`idRs`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_resources`
--

LOCK TABLES `project_resources` WRITE;
/*!40000 ALTER TABLE `project_resources` DISABLE KEYS */;
INSERT INTO `project_resources` VALUES (1,1,2),(1,2,1),(8,8,5),(10,8,15);
/*!40000 ALTER TABLE `project_resources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projects` (
  `idProj` int(11) NOT NULL AUTO_INCREMENT,
  `titleProj` varchar(160) NOT NULL,
  `descriptionProj` text DEFAULT NULL,
  `budgetProj` double NOT NULL DEFAULT 0,
  `typeProj` varchar(100) DEFAULT NULL,
  `stateProj` enum('PENDING','ACCEPTED','REFUSED','ARCHIVED') NOT NULL DEFAULT 'PENDING',
  `createdAtProj` datetime NOT NULL DEFAULT current_timestamp(),
  `updatedAtProj` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `avancementProj` double NOT NULL DEFAULT 0,
  `idClient` int(11) NOT NULL,
  PRIMARY KEY (`idProj`),
  KEY `fk_projects_client` (`idClient`),
  CONSTRAINT `fk_projects_client` FOREIGN KEY (`idClient`) REFERENCES `user` (`idUser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resources`
--

DROP TABLE IF EXISTS `resources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resources` (
  `idRs` int(11) NOT NULL AUTO_INCREMENT,
  `availabilityStatusRs` enum('AVAILABLE','RESERVED','UNAVAILABLE') NOT NULL DEFAULT 'AVAILABLE',
  `nomRs` varchar(160) NOT NULL,
  `QuantiteRs` int(11) NOT NULL DEFAULT 0,
  `prixRs` double NOT NULL DEFAULT 0,
  `idFr` int(11) NOT NULL,
  PRIMARY KEY (`idRs`),
  KEY `fk_resources_catalogue` (`idFr`),
  CONSTRAINT `fk_resources_catalogue` FOREIGN KEY (`idFr`) REFERENCES `cataloguefournisseur` (`idFr`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resources`
--

LOCK TABLES `resources` WRITE;
/*!40000 ALTER TABLE `resources` DISABLE KEYS */;
INSERT INTO `resources` VALUES (1,'AVAILABLE','Laptop',10,1200,1),(2,'AVAILABLE','Projector',5,800,1),(3,'RESERVED','Meeting Room',2,300,2),(4,'UNAVAILABLE','3D Printer',0,2500,2),(5,'AVAILABLE','mee',120,600,3),(6,'AVAILABLE','me_safia',20,600,3),(7,'AVAILABLE','TEST_RES',2,1.5,1),(8,'AVAILABLE','swatch',20,55.5,5),(9,'AVAILABLE','mee sabrin',30,250,3),(10,'UNAVAILABLE','aa',250,250,5);
/*!40000 ALTER TABLE `resources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `strategies`
--

DROP TABLE IF EXISTS `strategies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `strategies` (
  `ids` int(11) NOT NULL AUTO_INCREMENT,
  `versions` int(11) NOT NULL DEFAULT 1,
  `statusS` enum('Pending','Accepted','Refused') NOT NULL DEFAULT 'Pending',
  `CreatedAtS` datetime NOT NULL DEFAULT current_timestamp(),
  `lockedAtS` datetime DEFAULT NULL,
  `costs` double DEFAULT NULL,
  `news` varchar(255) DEFAULT NULL,
  `idProj` int(11) NOT NULL,
  `idUser` int(11) DEFAULT NULL,
  PRIMARY KEY (`ids`),
  KEY `fk_strategies_project` (`idProj`),
  KEY `fk_strategies_user` (`idUser`),
  CONSTRAINT `fk_strategies_project` FOREIGN KEY (`idProj`) REFERENCES `projects` (`idProj`) ON DELETE CASCADE,
  CONSTRAINT `fk_strategies_user` FOREIGN KEY (`idUser`) REFERENCES `user` (`idUser`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `strategies`
--

LOCK TABLES `strategies` WRITE;
/*!40000 ALTER TABLE `strategies` DISABLE KEYS */;
INSERT INTO `strategies` VALUES (1,1,'Pending','2026-02-11 17:27:28',NULL,1500,'Initial roadmap proposed',1,2);
/*!40000 ALTER TABLE `strategies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction`
--

DROP TABLE IF EXISTS `transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaction` (
  `idTransac` int(11) NOT NULL AUTO_INCREMENT,
  `DateTransac` date NOT NULL DEFAULT curdate(),
  `MontantTransac` double NOT NULL DEFAULT 0,
  `type` varchar(60) DEFAULT NULL,
  `statut` enum('PENDING','SUCCESS','FAILED') NOT NULL DEFAULT 'PENDING',
  `idInv` int(11) NOT NULL,
  PRIMARY KEY (`idTransac`),
  KEY `fk_transaction_investment` (`idInv`),
  CONSTRAINT `fk_transaction_investment` FOREIGN KEY (`idInv`) REFERENCES `investments` (`idInv`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction`
--

LOCK TABLES `transaction` WRITE;
/*!40000 ALTER TABLE `transaction` DISABLE KEYS */;
INSERT INTO `transaction` VALUES (1,'2026-02-11',1200,'INVESTMENT_PAYMENT','SUCCESS',1);
/*!40000 ALTER TABLE `transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `idUser` int(11) NOT NULL AUTO_INCREMENT,
  `cin` varchar(20) DEFAULT NULL,
  `EmailUser` varchar(190) NOT NULL,
  `passwordUser` varchar(255) NOT NULL,
  `nomUser` varchar(100) NOT NULL,
  `PrenomUser` varchar(100) NOT NULL,
  `NumTelUser` varchar(30) DEFAULT NULL,
  `dateNUser` date DEFAULT NULL,
  `roleUser` enum('client','gerant','admin') NOT NULL DEFAULT 'client',
  `expertiseAreaUser` varchar(150) DEFAULT NULL,
  `createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  `updatedAt` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`idUser`),
  UNIQUE KEY `EmailUser` (`EmailUser`),
  UNIQUE KEY `cin` (`cin`),
  UNIQUE KEY `NumTelUser` (`NumTelUser`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userlog`
--

DROP TABLE IF EXISTS `userlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `userlog` (
  `id_log` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `actionLog` varchar(255) NOT NULL,
  `dateLog` datetime NOT NULL DEFAULT current_timestamp(),
  `ip_address` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id_log`),
  KEY `fk_userLog_user` (`user_id`),
  CONSTRAINT `fk_userLog_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`idUser`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userlog`
--

LOCK TABLES `userlog` WRITE;
/*!40000 ALTER TABLE `userlog` DISABLE KEYS */;
INSERT INTO `userlog` VALUES (1,1,'Admin created initial setup','2026-02-11 17:27:28','127.0.0.1'),(2,2,'Gerant logged in','2026-02-11 17:27:28','127.0.0.1'),(3,3,'Client created a project','2026-02-11 17:27:28','127.0.0.1'),(4,4,'Client browsed events','2026-02-11 17:27:28','127.0.0.1');
/*!40000 ALTER TABLE `userlog` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-15  1:17:35
